* {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
}


.top {
  position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -65px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	padding: 15px;
}

body {
  margin: 0px !important;
}

.background-image {
  overflow:hidden;
  height: 100vh;
  width:  100vw;
}

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw; 
  height: 100vh;
}

.nav-bar {
  margin: 0px;
  width: 100%;
  height: 66px;
  background-color: #3C3A3B;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}
.ce-message-bubble {
  background-color: #118C94 !important;
  color: white !important;
}

.ce-chat-card-title-chat{
  color: black !important;
}

.ce-active-chat-card{
  background-color: #F4F4F4 !important;
}
.ce-autocomplete-options {
  border-radius: 5px !important;
}

#new-chat-plus-button {
  background-color: #118C94 !important;
}

#ce-send-message-button {
  background-color: #118C94 !important;
}


.ce-their-message-bubble {
  background-color: #ebebeb !important;
  color: black !important;
}

.ce-chat-title-container{
  color: #118C94 !important;
}

.ce-delete-chat{
  background-color: white !important;
}

.ce-chat-subtitle-message {
  color: black !important;
}

.ce-active-chat-card {
  color: black !important;
}

.ce-person-container:hover {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}


#login-page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.google {
  background-color: #4285f4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}
